<h1>
  your welcome!
</h1>
<label>User {{this.dataServeService.user}}</label>

<!--<div class=" container tiles col-lg-12">-->
  <!--<div class="tile"></div>-->
  <!--<div class="tile"></div>-->
  <!--<div class="tile"></div>-->
  <!--<div class="tile"></div>-->
  <!--<div class="tile"></div>-->
  <!--<div class="tile"></div>-->
  <!--<div class="tile"></div>-->
  <!--<div class="tile"></div>-->
  <!--<div class="tile"></div>-->
<!--</div>-->

<!--
for rotate a div
 <div class=" col-lg-12">
<div class="border-color">
  <div class="rotate-color">
  </div>
  <div class="rotate-color2">
  </div>
</div>
</div>
-->

<div class="container  col-lg-12">
  <div class="XITRUS_flip">
    <div class="flip">
      <div  class="flip-1">
        <h1> First div</h1>
        <p> This  is my first comment</p>
      </div>
      <div class="flip-2">
        <h1>Second div</h1>
        <p>This  is my first comment</p>
      </div>
    </div>
  </div>
</div>
